.job-title{
    box-sizing: border-box;
    display:flex;

    justify-content:space-between;
    align-items:center;
}

.job-description{
    box-sizing: border-box;
    display:flex;

    justify-content:space-between;

}

.Left-side{
    box-sizing: border-box;
    display:flex;
    gap:1rem;

}

.job-description, .location-description {
    box-sizing: border-box;
    display:flex;
    justify-content:row;
    gap:1rem;
}

.Right-side{
    box-sizing: border-box;
    display:flex;
    gap:1rem;
}

.breaker-line{
    height:0.2rem;
    
    background-color: rgb(198, 198, 198);
}