.job-title{
    box-sizing: border-box;
    display:flex;

    justify-content:space-between;
    align-items:center;
}

.job-description{
    box-sizing: border-box;
    display:flex;

    justify-content:space-between;

}

.Left-side{
    box-sizing: border-box;
    display:flex;
    gap:1rem;

}

.job-description, .location-description {
    box-sizing: border-box;
    display:flex;
    justify-content:row;
    gap:1rem;
}

.Right-side{
    box-sizing: border-box;
    display:flex;
    gap:1rem;
}

.breaker-line{
    height:0.2rem;
    
    background-color: rgb(198, 198, 198);
}

.Copyright{
    text-align:center;

}
.special-text{
    background-image: linear-gradient(to right, #13B0F5, #E70FAA);
    
    /* 2. Klipp bakgrunden så att den bara visas där texten är */
    background-clip: text;
    -webkit-background-clip: text; /* För äldre eller WebKit-baserade webbläsare */
    
    /* 3. Gör själva textfärgen genomskinlig så att gradienten syns */
    color: transparent;

}