html{
    
    font-size:62.5% /*10px*/
}

body{
    font-family:"Poppins",sans-serif;
    

}

.container{
    /*We need 3 columns */ 
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    margin:46px 24px;
    gap:1rem;
    
    
    


}
.navigation{
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    
    
}

.logotyp1{
    font-size:1.2rem;
    font-weight:800;

    /*decor */ 
    /* 1. Ange gradienten som en bakgrundsbild */
    background-image: linear-gradient(to right, #13B0F5, #CA24B4);
    
    /* 2. Klipp bakgrunden så att den bara visas där texten är */
    background-clip: text;
    -webkit-background-clip: text; /* För äldre eller WebKit-baserade webbläsare */
    
    /* 3. Gör själva textfärgen genomskinlig så att gradienten syns */
    color: transparent;
    
    

}



.hamburgare{
    width:2rem;
    height:2rem;
    

    
    display:flex;
    flex-direction:column; 
    
    gap:0.3rem;
    
    align-self:center;
    

    /*decor*/ 
    
    
    
    
    
    
}
.hamburgare div{
    height:0.3rem;
    background-color:rgb(75, 75, 75);
    
    border-radius: 1vh;
    
}

.hamburgare-meny{
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    align-self: center;

    gap:0.5rem;

    /*Decor*/
    font-size:1rem;
    
}

.hamburgare-meny a{
    color:inherit;
    text-decoration: none;
    font-weight: 600;
    align-self:center;
}

.navigation-logos{
    align-self: center;

    display:flex;
    gap:5rem;
}

.navigation-logos svg{
    width:2rem;
    align-self:center;
    
}



.introduction{
    font-size:1.2rem;
    font-weight:800;

}

.special{

    /* 1. Ange gradienten som en bakgrundsbild */
    background-image: linear-gradient(to right, #13B0F5, #CA24B4);
    
    /* 2. Klipp bakgrunden så att den bara visas där texten är */
    background-clip: text;
    -webkit-background-clip: text; /* För äldre eller WebKit-baserade webbläsare */
    
    /* 3. Gör själva textfärgen genomskinlig så att gradienten syns */
    color: transparent;
}

.ludvig-background{
    /*decor*/
    height:10.5rem;
    width:10.5rem;
    background-image: linear-gradient(to top, #13B0F5, #CA24B4);
    
    /* 2. Klipp bakgrunden så att den bara visas där texten är */

    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
    
}

.ludvig{
    height:10rem;
    width:10rem;
    border-radius: 50%;
    
}